@charset "utf-8";


@font-face {
    src: url("fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("fonts/Pretendard-Bold.otf");
    font-family: "Pretendard-Bold";
}

@font-face {
    src: url("fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



@font-face {
    src: url("fonts/NeueHaasDisplayXThin.ttf");
    font-family: "NeueHaasDisplayXThin";
}

@font-face {
    src: url("fonts/NeueHaasDisplayThin.ttf");
    font-family: "NeueHaasDisplayThin";
}

@font-face {
    src: url("fonts/NeueHaasDisplayRoman.ttf");
    font-family: "NeueHaasDisplayRoman";
}

@font-face {
    src: url("fonts/NeueHaasDisplayLight.ttf");
    font-family: "NeueHaasDisplayLight";
}

@font-face {
    src: url("fonts/NeueHaasDisplayMediu.ttf");
    font-family: "NeueHaasDisplayMediu";
}

/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    position: relative;
    width: 100%;
    height: auto;
    font-family: "NeueHaasDisplayThin";
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
}


a,
p,
li {
    text-decoration: none;
    color:#282726;
}


/* //#whole-wrap 시작 */
#whole-wrap{
    position: relative;
    float:left;
    width:100%;
    height: auto;
}



/* //#nav 시작 */
#nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    background: #fff;
}


/* //.menu 시작 */
.menu{
    position: relative;
    float:right;
    width:600px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "NeueHaasDisplayRoman";
    font-size: 18px;
}
/* //.menu 끝  */


/* //#nav 끝 */




/* //#whole-wrap 끝 */



