@charset "utf-8";


@font-face {
    src: url("fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("fonts/Pretendard-Bold.otf");
    font-family: "Pretendard-Bold";
}

@font-face {
    src: url("fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    position: relative;
    float:left;
    width: 100%;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}



/* //.mob-top-btn-wrap 시작 */
.mob-view{
    position: relative;
    float:left;
    width:100%;
    overflow: hidden;

}
.mob-top-btn-wrap{
    position: fixed;
    width:100%;
    height:85px;
    border-bottom: 1px solid #c0c0c0;
    top:0;
    background: #fff;
    z-index: 2;
}

.mob-top-btn-wrap label{
    position: relative;
    float:left;
    width:auto;
    font-family: "Pretendard-Medium";
    font-size: 13px;
    cursor: pointer;
    top:60px;
}
.mob-top-btn-wrap label:nth-child(1){
    width:75px;
    text-align: center;
    margin-left:25px;
    padding-bottom: 8px;
}
.mob-top-btn-wrap label:nth-child(2){
    width:70px;
    text-align: center;
    margin-left:35px;
    padding-bottom: 8px;
}

#mob-promotion1:checked ~ .mob-top-btn-wrap label:nth-child(1),
#mob-promotion2:checked ~ .mob-top-btn-wrap label:nth-child(2){
    border-bottom: 3px solid #2f2f2f;
}
.mob-promotion1-wrap, .mob-promotion2-wrap{
    display: none;
}
#mob-promotion1:checked ~ .mob-promotion1-wrap,
#mob-promotion2:checked ~ .mob-promotion2-wrap{
    display: block;
}
/* //.mob-top-btn-wrap 끝 */


/* //.mob-promotion1-wrap 시작 */
.mob-promotion1-wrap, .mob-promotion2-wrap{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:85px;
    padding-top:50px;
}

.mob-promotion1-section1{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:28px;
    border-bottom:2px solid #2f2f2f;
}
.mob-promotion1-month{
    position: relative;
    float:left;
    width:auto;
    font-family: "Pretendard-Thin";
    font-size: 50px;
    top:30px;
}

.mob-promotion1-info{
    position: relative;
    float:right;
    width:165px;
}
.mob-promotion1-info-txt1{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-SemiBold";
    font-size: 18px;
    text-align: right;
}

.mob-promotion1-info-txt2{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-SemiBold";
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
    margin-top:25px;
}

.mob-promotion1-img{
    position: relative;
    float:left;
    width:80%;
    left:50%;
    transform: translate(-50%);
    margin-top:150px;
}

.mob-promotion1-title-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:35px;
    display: flex;
    justify-content: space-between;
}
.mob-promotion1-title-left{
    position: relative;
    width:130px;
}

.mob-promotion1-title1{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-Medium";
    font-size: 20px;
}
.mob-promotion1-title2{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-Regular";
    font-size: 13px;
    color:#c0c0c0;
}

.mob-promotion1-title-right p{
     font-family: "Pretendard-Medium";
    font-size: 13px;
    width:130px;
    height:40px;
    background: #2f2f2f;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
/* //.mob-promotion1-section1 끝 */

/* //.mob-promotion1-section2 시작 */
.mob-promotion1-section2{
    position: relative;
    float:left;
    width:100%;
}
.mob-promotion1-section2-title{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: "Pretendard-Medium";
    font-size: 13px;
    border-bottom: 1px solid #f5f5f5;
}

.mob-promotion1-section2-option-wrap{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
    padding-bottom:15px;
    display: flex;
    align-items: center;
}
.mob-option-arrow-img{
    position: relative;
    width:14px;
    transform: rotate(-90deg);
    margin-right:20px;
}
.mob-bespoke-option{
    font-family: "Pretendard-Regular";
    font-size: 12px;
    margin-right:20px;
}

.mob-block1-img{
    position: relative;
    float:left;
    width:100%;
    margin-top:25px;
}

.mob-promotion1-section2-img-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    height:200px;
}
.mob-promotion1-section2-img-left{
    position: relative;
    width:50%;
    height:auto;
    background-image: url(plantlance-image/plan-a/block2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:10px;
}
.mob-promotion1-section2-img-right{
    position: relative;
    width:50%;
    height:auto;
    background-image: url(plantlance-image/plan-a/block3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* //.mob-promotion1-section2 끝 */


/* //.mob-promotion1-section3 시작 */
.mob-promotion1-section3{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding-left:25px;
    padding-right:25px;
    margin-top:80px;
    margin-bottom:80px;
}
.mob-promotion1-section3-title-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mob-promotion1-section3-title-left{
    position: relative;
    width:120px;
    font-family: "Pretendard-Bold";
    font-size: 18px;
    line-height: 1.5;
}
.mob-promotion1-section3-title-right{
    position: relative;
    width:175px;
}
.mob-promotion1-section3-title-right img{
    position: relative;
    float:left;
    width:100%;
}

.mob-promotion1-section3-txt{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-Regular";
    font-size: 13px;
    line-height: 1.5;
    text-align: justify;
    margin-top:50px;
}
/* //.mob-promotion1-section3 끝 */


/* //.mob-promotion1-section4 시작 */
.mob-promotion1-section4{
    position: relative;
    float:left;
    width:100%;
}
.mob-promotion1-section4-btn-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}
.mob-promotion1-section4-btn-wrap label{
    cursor: pointer;
}
.mob-promotion1-section4-btn-wrap img{
    width:17px;
    margin-left:30px;
}



.mob-promotion1-section4-btn-wrap label:nth-child(3),
.mob-promotion1-section4-btn-wrap label:nth-child(4),
.mob-promotion1-section4-btn-wrap label:nth-child(5),
.mob-promotion1-section4-btn-wrap label:nth-child(6){
    display: none;
}

.mob-slide-img-wrap{
    position: relative;
    float:left;
    width:300%;
    transition-duration: .3s;
    margin-top:20px;
}
.mob-slide-img{
    position: relative;
    float:left;
    width:33.3%;
    transition-duration: .3s;
}



/* 슬라이드 버튼 알고리즘 */
#mob-promotion1-section4-btn1:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(3),
#mob-promotion1-section4-btn1:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(4),
#mob-promotion1-section4-btn1:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(5)
{
    display: none;
}

#mob-promotion1-section4-btn1:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(1),
#mob-promotion1-section4-btn1:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(2)
{
    display: block;
}

#mob-promotion1-section4-btn2:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(1),
#mob-promotion1-section4-btn2:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(2)
{
    display: none;
}

#mob-promotion1-section4-btn2:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(3),
#mob-promotion1-section4-btn2:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(4)
{
    display: block;
}



#mob-promotion1-section4-btn3:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(5)
{
    display: block;
}

#mob-promotion1-section4-btn3:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(1),
#mob-promotion1-section4-btn3:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(2),
#mob-promotion1-section4-btn3:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(3),
#mob-promotion1-section4-btn3:checked ~ .mob-promotion1-section4-btn-wrap label:nth-child(4){
    display: none;
}
/* //슬라이드 버튼 알고리즘 */



#mob-promotion1-section4-btn1:checked ~ .mob-slide-img-wrap{
    left:0;
    transform: translate(0);
}
#mob-promotion1-section4-btn2:checked ~ .mob-slide-img-wrap{
    left:50%;
    transform: translate(-50%);
}
#mob-promotion1-section4-btn3:checked ~ .mob-slide-img-wrap{
    left:100%;
    transform: translate(-100%);
}

/* //.mob-promotion1-section4 끝 */


/* //.mob-promotion1-section5 시작 */
.mob-promotion1-section5{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    margin-top:80px;
    padding-bottom: 100px;
}

.mob-promotion1-section5-title-eng{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-Bold";
    font-size: 18px;
    margin-bottom: 10px;
}
.mob-promotion1-section5-title-kor{
    position: relative;
    float:left;
    width:100%;
    font-family: "Pretendard-Bold";
    font-size: 13px;
    margin-bottom: 50px;
}

.mob-promotion1-section5-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
}

.mob-promotion1-section5-left{
    position: relative;
    width:70%;
    font-family: "Pretendard-Regular";
    font-size: 13px;
    line-height: 2;
    text-align: justify;
}
.mob-promotion1-section5-left img{
    position: relative;
    float:left;
    width:150px;
}
.mob-promotion1-section5-right {
    position: relative;
    margin-left:20px;
    width:30%;
    height:250px;
    background-image: url(plantlance-image/plan-a/block9.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* //.mob-promotion1-section5 끝 */

/* //.mob-promotion1-wrap 끝 */





/* //.mob-promotion2-wrap 시작 */
.mob-promotion2-section3-img{
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 55px;
}

.mob-promotion2-section4-title{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Pretendard-Bold";
    font-size: 18px;
    margin-bottom: 35px;
}
.mob-promotion2-slide-img-wrap{
    width:400%;
}
.mob-promotion2-slide{
    position: relative;
    float:left;
    width:25%;
    box-sizing: border-box;
    padding-left:25px;
    padding-right:25px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.mob-promotion2-slide a{
    position: relative;
    float:left;
    width:100%;
}
.mob-promotion2-slide a:nth-child(2){
    margin-left:10px;
    margin-right:10px;
}
.mob-promotion2-slide img{
    position: relative;
    width:100%;
}


.mob-promotion2-section4-btn-wrap label{
    display: none;
}


#mob-promotion2-section4-btn1:checked ~ .mob-slide-img-wrap{
    margin-left:0;
}
#mob-promotion2-section4-btn2:checked ~ .mob-slide-img-wrap{
   margin-left:-100%;
}
#mob-promotion2-section4-btn3:checked ~ .mob-slide-img-wrap{
   margin-left:-200%;
}
#mob-promotion2-section4-btn4:checked ~ .mob-slide-img-wrap{
    margin-left:-300%;
}

/* 슬라이드 버튼 알고리즘 */
#mob-promotion2-section4-btn1:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(2),
#mob-promotion2-section4-btn1:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(3),
#mob-promotion2-section4-btn1:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(4),
#mob-promotion2-section4-btn1:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(5),
#mob-promotion2-section4-btn1:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(6)
{
    display: none;
}

#mob-promotion2-section4-btn1:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(1)
{
    display: block;
}


#mob-promotion2-section4-btn2:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(1),
#mob-promotion2-section4-btn2:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(4),
#mob-promotion2-section4-btn2:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(5),
#mob-promotion2-section4-btn2:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(6)
{
    display: none;
}

#mob-promotion2-section4-btn2:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(2),
#mob-promotion2-section4-btn2:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(3)
{
    display: block;
}



#mob-promotion2-section4-btn4:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(1),
#mob-promotion2-section4-btn4:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(2),
#mob-promotion2-section4-btn4:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(3),
#mob-promotion2-section4-btn4:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(4),
#mob-promotion2-section4-btn4:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(5)
{
    display: none;
}


#mob-promotion2-section4-btn4:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(6)
{
    display: block;
}



#mob-promotion2-section4-btn3:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(1),
#mob-promotion2-section4-btn3:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(2),
#mob-promotion2-section4-btn3:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(3),
#mob-promotion2-section4-btn3:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(6)
{
    display: none;
}

#mob-promotion2-section4-btn3:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(4),
#mob-promotion2-section4-btn3:checked ~ .mob-promotion2-section4-btn-wrap label:nth-child(5)
{
    display: block;
}

/* //슬라이드 버튼 알고리즘 */
.mob-promotion2-align-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:90px;
}
.mob-promotion2-align-img{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.mob-promotion2-align-img img{
    position: relative;
    float:left;
    width:50%;
}
.mob-promotion2-align-img1{
    margin-right: 10px;
}
.mob-promotion2-align-img3{
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 10px;
}
.mob-promotion2-align-img7{
    position: relative;
    float:left;
    width:100%;
}
.mob-promotion2-align-img8{
    position: relative;
    float:left;
    width:100%;
}


.mob-promotion2-section5-left{
    width:60%;
}

.mob-promotion2-section5-right{
    background-image: url(plantlance-image/plan-a/wily9.jpg);
    width:40%;
    height: 270px;
}

/* //.mob-promotion2-wrap 끝 */



.mob-top-btn{
    position: fixed;
    bottom:50px;
    right:50px;
    width:45px;
    height:45px;
    border-radius: 100%;
    background: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
}
.mob-top-btn-img{
    position: relative;
    width:20px;
    transform: rotate(-90deg);
    top:2px;
    filter: invert();
}