@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Dosis:wght@200;300;400;500&display=swap');

/* NeueHaasDisplay */
@font-face {
  font-family: "NeueHaasDisplayRoman";
  src: url(../fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
  font-family: "NeueHaasDisplayMedium";
  src: url(../fonts/NeueHaasDisplayMedium.ttf);
}

@font-face {
  font-family: "NeueHaasDisplayLight";
  src: url(../fonts/NeueHaasDisplayLight.ttf);
}
/* //NeueHaasDisplay */


/* Pretendard */

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url(../fonts/Pretendard-ExtraLight.otf);
}

@font-face {
  font-family: "Pretendard-Light";
  src: url(../fonts/Pretendard-Light.otf);
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url(../fonts/Pretendard-Thin.otf);
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url(../fonts/Pretendard-SemiBold.otf);
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url(../fonts/Pretendard-Bold.otf);
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url(../fonts/Pretendard-ExtraBold.otf);
}

@font-face {
  font-family: "Pretendard-Black";
  src: url(../fonts/Pretendard-Black.otf);
}



html {
  position: relative;
  width: 100vw;
  height: auto;
  font-family: "Pretendard-Regular";
}

body {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: none;
}
a, p, ul, li{
  list-style: none;
  text-decoration: none;
  color:#000;
}

/* nav */
#nav {
  position: fixed;
  width:100%;
  height:60px;
  top:0;
  left:0;
  padding:20px;
  box-sizing: border-box;
}
#nav .logo{
  font-size: 18px;
}
/* //nav */


/* temp-wrap */
#temp-wrap{
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: rgb(244, 244, 244);
}
#temp-wrap p{
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 500;
}
#temp-wrap .text{
  position:relative;
  float:left;
  width:100px;
  height:100%;
  font-family: "Pretendard-SemiBold";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
#temp-wrap .ctemp{
  width:auto;
  float:right;
  width:110px;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
#temp-wrap .lowtemp{
  position: relative;
  float:right;
  width:60px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#temp-wrap .hightemp{
  position:relative;
  float:right;
  width:60px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#temp-wrap .icon{
  position: relative;
  float:left;
  width:100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#temp-wrap .icon img{
  width:70px;
}

/* //temp-wrap*/

/* google search form */
/*
#google {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  display: grid;
  justify-content: space-between;
  grid-template-columns: 80% 60px;
  align-items: center;
}

#google .g_search {
  box-sizing: border-box;
  padding: 0;
  padding-left: 20px;
  border-radius: 40px;
  border: none;
  font-family: "Pretendard-Medium";
  font-size: 16px;
  outline: none;
}

#google .g_btn {
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: "Pretendard-SemiBold";
  font-size: 16px;
  background-image: url(img/google.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
*/
/* //google search form */

