@charset "UTF-8";


/* Sacaramento */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* Questrial */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


/* Pretendard */
@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url(../fonts/Pretendard-ExtraLight.otf);
}

@font-face {
    font-family: "Pretendard-Light";
    src: url(../fonts/Pretendard-Light.otf);
}

@font-face {
    font-family: "Pretendard-Thin";
    src: url(../fonts/Pretendard-Thin.otf);
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
    font-family: "Pretendard-SemiBold";
    src: url(../fonts/Pretendard-SemiBold.otf);
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url(../fonts/Pretendard-Bold.otf);
}

@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url(../fonts/Pretendard-ExtraBold.otf);
}

@font-face {
    font-family: "Pretendard-Black";
    src: url(../fonts/Pretendard-Black.otf);
}

::-moz-selection{
    background:#cef42a;
    color:#2f2f2f;
}
::selection{
    background: #cef42a;
    color:#2f2f2f;
}

html{
    position: relative;
    width:100vw;
    height:auto;
}

body {
    position: relative;
    float:left;
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
    left:0;
    top:0;
    background: #000;
    box-sizing: border-box;
    overflow-x: hidden;
    /*animation-name: bgColor;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1.5s;*/
}

@keyframes bgColor{
    from{
        background-color: #2f2f2f;
    }

    to{
        background-color: #cef42a;
    }
}


/* title-wrap */
/*
#title-wrap{
    font-family: "Questrial",sans-serif;
    font-size: 10vw;
    margin-top:50px;
    box-sizing: border-box;
    padding:20px;
    animation-name: tiTle-wrap;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

@keyframes tiTle-wrap{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}



.title{
    color:#cef42a;
}
.title1{
    animation-name: tiTle;
    animation-delay: .5s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.title2{
    margin-top:40px;
    float:right;
    animation-name: tiTle;
    animation-delay: 1.5s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.title i{
    color:#fff;
    font-style: normal;
}

@keyframes tiTle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
*/

/* //title-wrap */
/*
#info-title{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    padding:20px;
    margin-top:50px;
    font-family: 'Questrial', sans-serif;
    font-size: 9vw;
    color:#fff;
    text-align: center;
    box-sizing: border-box;
    animation-name: info-Title;
    animation-delay: 3.2s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes info-Title{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#info-title p:nth-child(2){
    color:#cef42a;
} 
#info-title i{
    font-style: normal;
    font-size:14.6vw;
}

*/



/* #place-map */
#place-map{
    position: absolute;
    /*top:74vw;*/
    top:39.5%;
    left:50%;
    transform: translate(-50%,0);
    font-family: "Pretendard-SemiBold";
    color:#2f2f2f;
    text-decoration: none;
    background: #000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2.3%;
    opacity: 1;
    z-index: 2;
}

#place-map img{
    width:20px;
    
}
/* //#place-map */



/* swiper */
.swiper-slide{
    box-sizing: border-box;
    padding:40px;
    padding-top:20px;
    padding-bottom:0;
}
#ticket{
    position: relative;
    width:100%;
    text-align: center;
}

/* swiper */




