@charset "UTF-8";


/* Sacaramento */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


/* Pretendard */
@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url(../fonts/Pretendard-ExtraLight.otf);
}

@font-face {
    font-family: "Pretendard-Light";
    src: url(../fonts/Pretendard-Light.otf);
}

@font-face {
    font-family: "Pretendard-Thin";
    src: url(../fonts/Pretendard-Thin.otf);
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
    font-family: "Pretendard-SemiBold";
    src: url(../fonts/Pretendard-SemiBold.otf);
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url(../fonts/Pretendard-Bold.otf);
}

@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url(../fonts/Pretendard-ExtraBold.otf);
}

@font-face {
    font-family: "Pretendard-Black";
    src: url(../fonts/Pretendard-Black.otf);
}



html{
    position: relative;
    width:100vw;
    height:auto;
    
}

body {
    position: relative;
    float:left;
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
    left:0;
    top:0;

}


#kakao-link-btn{
    position: fixed;
    width:50px;
    bottom:20px;
    right:20px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
}


#main{
    position:relative;
    float:left;
    width:100%;
    height:100vh;
    font-family: 'Pretendard-Bold';
    font-size: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

