@charset "UTF-8";

/* fonts */ 
@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url(fonts/Pretendard-ExtraLight.otf);
  }
  
  @font-face {
    font-family: "Pretendard-Light";
    src: url(fonts/Pretendard-Light.otf);
  }
  
  @font-face {
    font-family: "Pretendard-Thin";
    src: url(fonts/Pretendard-Thin.otf);
  }
  
  @font-face {
    font-family: "Pretendard-Regular";
    src: url(fonts/Pretendard-Regular.otf);
  }
  
  @font-face {
    font-family: "Pretendard-Medium";
    src: url(fonts/Pretendard-Medium.otf);
  }
  
  @font-face {
    font-family: "Pretendard-SemiBold";
    src: url(fonts/Pretendard-SemiBold.otf);
  }
  
  @font-face {
    font-family: "Pretendard-Bold";
    src: url(fonts/Pretendard-Bold.otf);
  }
  
  @font-face {
    font-family: "Pretendard-ExtraBold";
    src: url(fonts/Pretendard-ExtraBold.otf);
  }
  
  @font-face {
    font-family: "Pretendard-Black";
    src: url(fonts/Pretendard-Black.otf);
  }
  
/* //fonts */ 

  
/* settins */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Pretendard-SemiBold";
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}
/* //settins */


body {
    width: 100%;
    height:100vh;
    overflow: hidden;
    padding:20px;
    box-sizing: border-box;
    background: #414b56;
}

/* chat-content */
.line {
    width:100%;
    display: flex;
    margin-bottom:10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.line:nth-child(1), .line:nth-child(2){
    display: none;
}
.chat-box{
    line-height: 1.5;
    text-align: justify;
}

.mine{
    width:100%;
    padding:20px;
    border-radius: 10px;
    background-color: #fff;
    color:#2f2f2f;
}
.yours{
    width:100%;
    padding:20px;
    border-radius: 10px;
    /*background-color: #414b56;*/
    background-color: #C0CAD7;
    color:#212930;
}

/* //chat-content */


/* question */
.question{
    position: fixed;
    width:calc(100% - 40px);
    left:50%;
    bottom:20px;
    transform: translate(-50%,0);
    background: #fff;
    box-sizing: border-box;
    padding:10px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.question input{
    width:calc(100% - 70px);
    height:35px;
    padding-left:10px;
    border:none;
    font-size: 16px;
    background: none;
}
input:focus{
    outline: none;
}
.question button{
    width:35px;
    font-size: 16px;
    border:none;
    background-image: url(imgs/send.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/* //question */